.card-container {
  display: grid;
  grid-template-columns: repeat(2);
  grid-template-rows: repeat(3);
}

.card-img {
  width: 264px;
  height: 210px;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.card-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-title {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.card-sub_title {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

.card-sub_label {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.card-sub-content {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
