header {
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
}

/* .nav-menu {} */

.nav-menu-items {
    width: 200px;
    height: 150px;
    border-radius: 12px;
}

.nav-menu-items div {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}