@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,body,div,span,h1,h2,h3,h4,h5,h6,
p,a,ol,ul,li,footer,header,nav,section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
